<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Plugin Scribens pour Microsoft Office" Version="1.0.0.0" Manufacturer="Scribens" 
          IconSourceFile="scribens.ico"
          UpgradeCode="cbb71511-264c-4b17-b718-49266867c411">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.SetupUI.TargetPath)"/>
      <Payload SourceFile="$(var.ProjectDir)Lib\BootstrapperCore.config"/>
      <Payload SourceFile="$(var.ProjectDir)Lib\BootstrapperCore.dll"/>
      <Payload SourceFile="$(var.ProjectDir)Lib\Microsoft.Deployment.WindowsInstaller.dll"/>
    </BootstrapperApplicationRef>
    
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value=""/>
        
		<Chain>
      <PackageGroupRef Id="NetFx46Redist"/>
      <MsiPackage SourceFile="$(var.SetupMsi.TargetPath)" Id="ScribensMSOfficePlugin" Visible="no"/>
    </Chain>
	</Bundle>
</Wix>
